i.icon {
	font-size: 2em;
}

.container.main {
	margin-top: 7em;
}

#delete {
	display: inline;
}

footer {
	text-align: center;
	font-size: 8px;
	text-transform: uppercase;
	margin-top: 1em;
	letter-spacing: 1px;
}